# AAMC File Merger

In [1]:
# Importing required packages 
import os
import glob
import re 
import pandas as pd
import merger_functions

# Default file directory
cwd = os.getcwd()
print(cwd)

c:\Users\TooFastDan\OneDrive - Baylor College of Medicine\APSA\2024-2025 APSA South Regional Conference\AAMC Data

## Table A-1 for MD Applicants & Matriculants

In [2]:
# AAMC A-1 tables file paths for all excel files
file_list_a1 = glob.glob(cwd + "/A-1/*.xlsx")

# Column names for every excel file
colnames1 = ["state", "school", "applications", "in state applicants", "out of state applicants",
             "women applicants", "men applicants", "matriculants", "in state matriculants",
              "out of state matriculants", "women matriculants", "men matriculants"]
colnames2 = ["state", "school", "applications", "in state applicants", "out of state applicants", 
             "men applicants", "women applicants", "matriculants", "in state matriculants", 
             "out of state matriculants", "men matriculants", "women matriculants"]  # column names men/women change in 2018

# Processing all AAMC A-1 Tables
a1_2012, totals_2012 = merger_functions.cycle_generator(df_path=file_list_a1[0], head=10, foot=148, colnames=colnames1, year=2012)
a1_2013, totals_2013 = merger_functions.cycle_generator(df_path=file_list_a1[1], head=10, foot=152, colnames=colnames1, year=2013)
a1_2014, totals_2014 = merger_functions.cycle_generator(df_path=file_list_a1[2], head=10, foot=153, colnames=colnames1, year=2014)
a1_2015, totals_2015 = merger_functions.cycle_generator(df_path=file_list_a1[3], head=9, foot=153, colnames=colnames1, year=2015)
a1_2016, totals_2016 = merger_functions.cycle_generator(df_path=file_list_a1[4], head=9, foot=156, colnames=colnames1, year=2016)
a1_2017, totals_2017 = merger_functions.cycle_generator(df_path=file_list_a1[5], head=9, foot=157, colnames=colnames1, year=2017)
a1_2018, totals_2018 = merger_functions.cycle_generator(df_path=file_list_a1[6], head=9, foot=161, colnames=colnames2, year=2018)
a1_2019, totals_2019 = merger_functions.cycle_generator(df_path=file_list_a1[7], head=9, foot=163, colnames=colnames2, year=2019)
a1_2020, totals_2020 = merger_functions.cycle_generator(df_path=file_list_a1[8], head=9, foot=165, colnames=colnames2, year=2020)
a1_2021, totals_2021 = merger_functions.cycle_generator(df_path=file_list_a1[9], head=9, foot=165, colnames=colnames2, year=2021)
a1_2022, totals_2022 = merger_functions.cycle_generator(df_path=file_list_a1[10], head=9, foot=165, colnames=colnames2, year=2022)
a1_2023, totals_2023 = merger_functions.cycle_generator(df_path=file_list_a1[11], head=9, foot=167, colnames=colnames2, year=2023)


# Concatenating the totals per year and cleaning
a1_totals = pd.concat([totals_2012, totals_2013, totals_2014, totals_2015, totals_2016, totals_2017, totals_2018, totals_2019, totals_2020, totals_2021, totals_2022, totals_2023], axis=0)
a1_totals = a1_totals.drop(["state", "school"], axis=1).reset_index(drop=True)
a1_totals["applicants"] = [45266, 48014, 49480, 52550, 53042, 51680, 52777, 53371, 53030, 62443, 55188, 52577]
a1_totals["applications"] = [636309, 690281, 731595, 781602, 830016, 816153, 849678, 896819, 906588, 1099486, 990790, 966947]
a1_totals["matriculants"] = [19517, 20055, 20343, 20631, 21030, 21338, 21622, 21869, 22239, 22666, 22712, 22981]
a1_totals["applications per applicant"] = a1_totals["applications"] / a1_totals["applicants"]
a1_totals["matriculant applicant percent"] = (a1_totals["matriculants"] / a1_totals["applicants"]) * 100

# Rearranging columns for readability
a1_totals = a1_totals[["cycle_year", "applicants", "applications", "in state applicants", "out of state applicants",
                  "women applicants", "men applicants", "matriculants", "in state matriculants",
                  "out of state matriculants", "women matriculants", "men matriculants",
                  "applications per applicant", "matriculant applicant percent"]]

# Concatenating the A1 school data for each year
a1 = pd.concat([a1_2012, a1_2013, a1_2014, a1_2015, a1_2016, a1_2017, a1_2018, a1_2019, a1_2020, a1_2021, a1_2022, a1_2023], axis=0)
a1 = a1.reset_index(drop=True)

# Getting rid of numbers in the school names and replacing redundant names for med schools that changed their names over time
schools = []
for school in a1["school"]:
    new_school = ''.join([i for i in school if not i.isdigit()])
    schools.append(new_school)
a1["school"] = schools
school_name_replacements = {"Alabama-Heersink": "Alabama",
                            "Kaiser Permanente-Tyson": "Kaiser Permanente",
                            "Central Florida": "UCF",
                            "GRU MC Georgia": "MC Georgia Augusta",
                            "MC Georgia": "MC Georgia Augusta",
                            "Chicago Med-Franklin": "Chicago Med Franklin",
                            "Massachusetts-Chan": "Massachusetts",
                            "Mayo-Alix": "Mayo",
                            "St Louis": "Saint Louis",
                            "UMDNJ New Jersey": "Rutgers New Jersey",
                            "UMDNJ-RW Johnson": "Rutgers-RW Johnson",
                            "SHU-Hackensack Meridian": "Hackensack Meridian",
                            "Nevada": "Nevada Reno",
                            "Columbia": "Columbia-Vagelos",
                            "Yeshiva Einstein": "Einstein",
                            "Hofstra North Shore-LIJ": "Zucker Hofstra Northwell",
                            "Hofstra Northwell": "Zucker Hofstra Northwell",
                            "Stony Brook": "Renaissance Stony Brook",
                            "Mount Sinai": "Mount Sinai-Icahn",
                            "New York University": "NYU-Grossman",
                            "Buffalo": "Buffalo-Jacobs",
                            "Case Western": "Case Western Reserve",
                            "Jefferson": "Jefferson-Kimmel",
                            "Commonwealth": "Geisinger Commonwealth",
                            "Temple": "Temple-Katz",
                            "South Carolina": "South Carolina Columbia",
                            "UT HSC San Antonio": "UT San Antonio-Long",
                            "UT Houston": "UT Houston-McGovern",
                            "Vermont": "Vermont-Larner",
                            "UCLA Drew": "UCLA-Geffen", }
a1["school"] = a1["school"].replace(school_name_replacements)

# Mapping states to APSA regional meetings
apsa_state_mapping = {
  "AL": "South",
  "AR": "South",
  "AZ": "West",
  "CA": "West",
  "CO": "West",
  "CT": "Northeast",
  "DC": "Mid-Atlantic",
  "FL": "South",
  "GA": "South",
  "HI": "West",
  "IA": "Midwest",
  "IL": "Midwest",
  "IN": "Midwest",
  "KS": "Midwest",
  "KY": "South",
  "LA": "South",
  "MA": "Northeast",
  "MD": "Mid-Atlantic",
  "MI": "Midwest",
  "MN": "Midwest",
  "MO": "Midwest",
  "MS": "South",
  "NC": "South",
  "ND": "Midwest",
  "NE": "Midwest",
  "NH": "Northeast",
  "NJ": "Mid-Atlantic",
  "NM": "West",
  "NV": "West",
  "NY": "Northeast",
  "OH": "Midwest",
  "OK": "South",
  "OR": "West",
  "PA": "Mid-Atlantic",
  "PR": "South",
  "RI": "Northeast",
  "SC": "South",
  "SD": "Midwest",
  "TN": "South",
  "TX": "South",
  "UT": "West",
  "VA": "Mid-Atlantic",
  "VT": "Northeast",
  "WA": "West",
  "WI": "Midwest",
  "WV": "Mid-Atlantic"
}
a1["APSA_region"] = a1["state"].map(apsa_state_mapping)

# Rearranging columns for readability
a1 = a1[["cycle_year", "state", "APSA_region", "school", "applications", "in state applicants", "out of state applicants", "women applicants", "men applicants", "matriculants", "in state matriculants", "out of state matriculants", "women matriculants", "men matriculants"]]

a1

,cycle_year,state,APSA_region,school,applications,in state applicants,out of state applicants,women applicants,men applicants,matriculants,in state matriculants,out of state matriculants,women matriculants,men matriculants
0,2012,AL,South,Alabama,2599,15.4,84.6,41.9,58.1,176.0,86.4,13.6,39.8,60.2
1,2012,AL,South,South Alabama,1309,27.3,72.7,41.6,58.4,74.0,90.5,9.5,37.8,62.2
2,2012,AR,South,Arkansas,2148,14.8,85.2,38.9,61.1,166.0,86.7,13.3,36.7,63.3
3,2012,AZ,West,Arizona,5809,23.8,76.2,43.2,56.8,195.0,72.3,27.7,50.8,49.2
4,2012,CA,West,Loma Linda,5217,41.4,58.6,45.0,55.0,168.0,44.6,55.4,45.2,54.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1777,2023,WA,West,Washington State-Floyd,1614.0,51.4,48.6,57.1,42.1,80.0,88.8,11.3,73.8,23.8
1778,2023,WI,Midwest,MC Wisconsin,9589.0,7.2,92.8,51.9,47.8,264.0,52.3,47.7,56.1,43.9
1779,2023,WI,Midwest,Wisconsin,6384.0,10.4,89.6,51.2,48.3,171.0,68.4,31.6,57.3,42.1
1780,2023,WV,Mid-Atlantic,Marshall-Edwards,1841.0,8.7,91.3,54.4,45.5,72.0,56.9,43.1,47.2,52.8
1781,2023,WV,Mid-Atlantic,West Virginia,5223.0,3.7,96.3,48.6,51.1,112.0,69.6,30.4,50.0,50.0

In [3]:
a1_totals

,cycle_year,applicants,applications,in state applicants,out of state applicants,women applicants,men applicants,matriculants,in state matriculants,out of state matriculants,women matriculants,men matriculants,applications per applicant,matriculant applicant percent
0,2012,45266,636309,23.7,76.3,45.1,54.9,19517,61.2,38.8,46.4,53.6,14.057107,43.116246
1,2013,48014,690281,23.7,76.3,45.7,54.3,20055,62.0,38.0,47.2,52.8,14.376661,41.769067
2,2014,49480,731595,23.6,76.4,45.9,54.1,20343,61.3,38.7,47.8,52.2,14.785671,41.113581
3,2015,52550,781602,23.2,76.8,45.8,54.2,20631,60.3,39.7,47.8,52.2,14.873492,39.259753
4,2016,53042,830016,23.4,76.6,47.6,52.4,21030,60.6,39.4,49.8,50.2,15.648279,39.647826
5,2017,51680,816153,23.3,76.7,48.8,51.2,21338,60.7,39.3,50.7,49.3,15.792434,41.288700
6,2018,52777,849678,22.7,77.3,49.7,50.3,21622,60.6,39.4,51.6,48.3,16.099399,40.968604
7,2019,53371,896819,22.4,77.6,51.1,48.8,21869,60.6,39.4,52.4,47.6,16.803489,40.975436
8,2020,53030,906588,22.9,77.1,51.9,48.0,22239,60.3,39.7,53.6,46.2,17.095757,41.936640
9,2021,62443,1099486,22.7,77.3,55.0,44.9,22666,60.2,39.8,55.5,44.4,17.607834,36.298704
10,2022,55188,990790,22.4,77.6,55.2,44.7,22712,59.8,40.2,55.6,44.3,17.952997,41.153874
11,2023,52577,966947,22.5,77.5,54.5,45.0,22981,59.9,40.1,55.4,44.2,18.391065,43.709226

In [4]:
# Exporting to excel 
#a1.to_excel(cwd + "/merged files/AAMC A-1 Merged.xlsx", index=False)
#a1_totals.to_excel(cwd + "/merged files/AAMC A-1 Totals Merged.xlsx", index=False)

## Table A-10 for MD Applicants

In [5]:
# Getting all A-10 files
file_list_a10 = glob.glob(cwd + "/A-10/*.xlsx")

# Importing all excel docs in a loop
df_dict = {}
df_totals_dict = {}
for f in file_list_a10:
  matches = re.findall(r"(?<!\d)\d{4}(?!\d)", f)
  current_year = int(matches[-1])
  df, df_totals = merger_functions.demo_generator(df_path = f, head = 5, foot = 64, year = current_year)
  df_dict.update({current_year: df})
  df_totals_dict.update({current_year: df_totals})
  print("Done with {}".format(current_year))

# Merging into a single file
a10 = pd.concat(df_dict.values(), keys=df_dict.keys())
a10 = a10.reset_index(level=0, drop=True)
a10_totals = pd.concat(df_totals_dict.values(), keys=df_totals_dict.keys())
a10_totals = a10_totals.reset_index(level=0, drop=True)

Done with 2014
Done with 2015
Done with 2016
Done with 2017
Done with 2018
Done with 2019
Done with 2020
Done with 2021
Done with 2022
Done with 2023

In [6]:
a10

,region,state,American Indian or Alaska Native,Asian,Black or African American,"Hispanic, Latino, or of Spanish Origin",Native Hawaiian or Other Pacific Islander,White,Other,Multiple Race/Ethnicity,Unknown Race/Ethnicity,Non-U.S. Citizen and Non-Permanent Resident,Total,year,APSA_region
0,Northeast,Connecticut,0.0,88.0,33.0,9.0,0.0,323.0,12.0,33.0,43.0,4.0,545.0,2014,Northeast
1,Northeast,Delaware,0.0,24.0,5.0,1.0,0.0,38.0,7.0,4.0,7.0,1.0,87.0,2014,Mid-Atlantic
2,Northeast,District of Columbia,0.0,8.0,18.0,2.0,0.0,46.0,2.0,8.0,6.0,9.0,99.0,2014,Mid-Atlantic
3,Northeast,Maine,1.0,6.0,2.0,1.0,0.0,89.0,2.0,3.0,6.0,2.0,112.0,2014,Northeast
4,Northeast,Maryland,2.0,293.0,211.0,29.0,0.0,429.0,38.0,66.0,75.0,20.0,1163.0,2014,Mid-Atlantic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53,West,New Mexico,5.0,24.0,5.0,40.0,1.0,71.0,2.0,53.0,8.0,2.0,211.0,2023,West
54,West,Oregon,4.0,86.0,12.0,22.0,2.0,237.0,11.0,86.0,16.0,1.0,477.0,2023,West
55,West,Utah,2.0,38.0,3.0,24.0,3.0,443.0,4.0,58.0,12.0,6.0,593.0,2023,West
56,West,Washington,9.0,326.0,39.0,32.0,2.0,456.0,15.0,139.0,34.0,15.0,1067.0,2023,West
57,West,Wyoming,0.0,4.0,0.0,0.0,0.0,43.0,0.0,6.0,1.0,0.0,54.0,2023,West

In [7]:
a10_totals

index,region,state,American Indian or Alaska Native,Asian,Black or African American,"Hispanic, Latino, or of Spanish Origin",Native Hawaiian or Other Pacific Islander,White,Other,Multiple Race/Ethnicity,Unknown Race/Ethnicity,Non-U.S. Citizen and Non-Permanent Resident,Total,year
63,Total Applicants,NaN,117.0,9208.0,3537.0,2911.0,60.0,24055.0,1636.0,3357.0,2698.0,1901.0,49480.0,2014
63,Total Applicants,NaN,115.0,10122.0,4087.0,3219.0,50.0,25101.0,1661.0,3657.0,2439.0,2099.0,52550.0,2015
63,Total Applicants,NaN,127.0,10906.0,4344.0,3300.0,32.0,25544.0,1089.0,4737.0,910.0,2053.0,53042.0,2016
63,Total Applicants,NaN,100.0,10499.0,4308.0,3396.0,38.0,23937.0,1091.0,4577.0,1817.0,1917.0,51680.0,2017
63,Total Applicants,NaN,109.0,11218.0,4430.0,3297.0,53.0,24686.0,1167.0,4856.0,1013.0,1948.0,52777.0,2018
63,Total Applicants,NaN,89.0,11027.0,4419.0,3350.0,42.0,23469.0,1198.0,5246.0,2641.0,1890.0,53371.0,2019
63,Total Applicants,NaN,73.0,11240.0,4363.0,3332.0,41.0,22891.0,1288.0,5314.0,2644.0,1844.0,53030.0,2020
63,Total Applicants,NaN,105.0,13426.0,6169.0,4039.0,41.0,25663.0,1567.0,6684.0,2440.0,2309.0,62443.0,2021
63,Total Applicants,NaN,94.0,12736.0,4924.0,3257.0,52.0,22917.0,1386.0,6086.0,1777.0,1959.0,55188.0,2022
63,Total Applicants,NaN,90.0,12600.0,4672.0,3177.0,57.0,21131.0,1263.0,6009.0,1692.0,1886.0,52577.0,2023

In [28]:
a10_gb = a10.groupby(["year", "APSA_region"]).sum()
a10_gb = a10_gb.reset_index()
a10_gb["URM"] = a10_gb["American Indian or Alaska Native"] + a10_gb["Black or African American"] + a10_gb["Hispanic, Latino, or of Spanish Origin"] + a10_gb["Native Hawaiian or Other Pacific Islander"]
a10_gb["Percent_URM"] = a10_gb["URM"] / a10_gb["Total"]
a10_gb[a10_gb["APSA_region"] == "South"]

,year,APSA_region,American Indian or Alaska Native,Asian,Black or African American,"Hispanic, Latino, or of Spanish Origin",Native Hawaiian or Other Pacific Islander,White,Other,Multiple Race/Ethnicity,Unknown Race/Ethnicity,Non-U.S. Citizen and Non-Permanent Resident,Total,URM,Percent_URM
3,2014,South,65.0,2364.0,1645.0,1693.0,9.0,7037.0,347.0,1234.0,586.0,119.0,15099.0,3412.0,0.225975
8,2015,South,57.0,2654.0,1933.0,1826.0,11.0,7466.0,349.0,1362.0,566.0,153.0,16377.0,3827.0,0.233681
13,2016,South,60.0,2877.0,2009.0,1907.0,2.0,7591.0,217.0,1755.0,256.0,138.0,16812.0,3978.0,0.236617
18,2017,South,58.0,2790.0,2045.0,1940.0,4.0,7201.0,237.0,1751.0,449.0,158.0,16633.0,4047.0,0.243311
23,2018,South,46.0,3041.0,2063.0,1816.0,10.0,7562.0,218.0,1822.0,275.0,165.0,17018.0,3935.0,0.231226
28,2019,South,37.0,3096.0,2009.0,1888.0,4.0,7275.0,247.0,2042.0,666.0,159.0,17423.0,3938.0,0.226023
33,2020,South,35.0,3181.0,1968.0,1783.0,4.0,7231.0,247.0,2009.0,664.0,170.0,17292.0,3790.0,0.219176
38,2021,South,43.0,3768.0,2819.0,2110.0,10.0,8109.0,295.0,2528.0,652.0,237.0,20571.0,4982.0,0.242186
43,2022,South,39.0,3556.0,2301.0,1703.0,8.0,7227.0,277.0,2416.0,480.0,227.0,18234.0,4051.0,0.222167
48,2023,South,31.0,3514.0,2085.0,1673.0,8.0,6856.0,228.0,2385.0,465.0,174.0,17419.0,3797.0,0.217980

In [128]:
# Exporting to excel
#a10.to_excel(cwd + "/merged files/AAMC A-10 Merged.xlsx", index=False)
#a10_totals.to_excel(cwd + "/merged files/AAMC A-10 Totals Merged.xlsx", index=False)

## Table A-11 for MD Matriculants

In [24]:
# Getting all A-11 files
file_list_a11 = glob.glob(cwd + "/A-11/*.xlsx")

# Importing all excel docs in a loop
df_dict = {}
df_totals_dict = {}
for f in file_list_a11:
  matches = re.findall(r"(?<!\d)\d{4}(?!\d)", f)
  current_year = int(matches[-1])
  df, df_totals = merger_functions.demo_generator(df_path = f, head = 5, foot = 64, year = current_year)
  df_dict.update({current_year: df})
  df_totals_dict.update({current_year: df_totals})
  print("Done with {}".format(current_year))

# Merging into a single file
a11 = pd.concat(df_dict.values(), keys=df_dict.keys())
a11 = a11.reset_index(level=0, drop=True)
a11_totals = pd.concat(df_totals_dict.values(), keys=df_totals_dict.keys())
a11_totals = a11_totals.reset_index(level=0, drop=True)

Done with 2014
Done with 2015
Done with 2016
Done with 2017
Done with 2018
Done with 2019
Done with 2020
Done with 2021
Done with 2022
Done with 2023

In [25]:
a11

,region,state,American Indian or Alaska Native,Asian,Black or African American,"Hispanic, Latino, or of Spanish Origin",Native Hawaiian or Other Pacific Islander,White,Other,Multiple Race/Ethnicity,Unknown Race/Ethnicity,Non-U.S. Citizen and Non-Permanent Resident,Total,year,APSA_region
0,Northeast,Connecticut,0.0,38.0,14.0,1.0,0.0,153.0,3.0,11.0,14.0,0.0,234.0,2014,Northeast
1,Northeast,Delaware,0.0,9.0,1.0,0.0,0.0,16.0,3.0,2.0,4.0,0.0,35.0,2014,Mid-Atlantic
2,Northeast,District of Columbia,0.0,1.0,7.0,2.0,0.0,24.0,1.0,5.0,2.0,3.0,45.0,2014,Mid-Atlantic
3,Northeast,Maine,0.0,4.0,0.0,1.0,0.0,29.0,2.0,1.0,5.0,1.0,43.0,2014,Northeast
4,Northeast,Maryland,2.0,133.0,90.0,10.0,0.0,205.0,15.0,36.0,41.0,8.0,540.0,2014,Mid-Atlantic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53,West,New Mexico,3.0,15.0,4.0,23.0,1.0,33.0,1.0,28.0,6.0,1.0,115.0,2023,West
54,West,Oregon,1.0,33.0,8.0,8.0,1.0,96.0,3.0,46.0,5.0,0.0,201.0,2023,West
55,West,Utah,0.0,13.0,1.0,12.0,0.0,182.0,1.0,30.0,3.0,0.0,242.0,2023,West
56,West,Washington,3.0,150.0,17.0,14.0,1.0,188.0,4.0,67.0,6.0,6.0,456.0,2023,West
57,West,Wyoming,0.0,3.0,0.0,0.0,0.0,22.0,0.0,3.0,0.0,0.0,28.0,2023,West

In [26]:
a11_totals

index,region,state,American Indian or Alaska Native,Asian,Black or African American,"Hispanic, Latino, or of Spanish Origin",Native Hawaiian or Other Pacific Islander,White,Other,Multiple Race/Ethnicity,Unknown Race/Ethnicity,Non-U.S. Citizen and Non-Permanent Resident,Total,year
63,All Matriculants,NaN,53.0,3816.0,1227.0,1230.0,27.0,10609.0,523.0,1406.0,1152.0,300.0,20343.0,2014
63,Total Matriculants,NaN,55.0,4095.0,1349.0,1320.0,17.0,10570.0,497.0,1460.0,939.0,329.0,20631.0,2015
63,Total Matriculants,NaN,54.0,4475.0,1497.0,1335.0,13.0,10828.0,360.0,1858.0,341.0,269.0,21030.0,2016
63,Total Matriculants,NaN,42.0,4481.0,1505.0,1383.0,14.0,10585.0,388.0,1900.0,765.0,275.0,21338.0,2017
63,Total Matriculants,NaN,39.0,4787.0,1540.0,1350.0,23.0,10783.0,381.0,2045.0,394.0,280.0,21622.0,2018
63,Total Matriculants,NaN,44.0,4687.0,1627.0,1412.0,13.0,10184.0,379.0,2178.0,1073.0,272.0,21869.0,2019
63,Total Matriculants,NaN,36.0,4803.0,1767.0,1524.0,14.0,9944.0,470.0,2311.0,1094.0,276.0,22239.0,2020
63,Total Matriculants,NaN,40.0,5153.0,2124.0,1575.0,13.0,9580.0,480.0,2575.0,798.0,328.0,22666.0,2021
63,Total Matriculants,NaN,37.0,5604.0,1856.0,1444.0,22.0,9599.0,496.0,2698.0,642.0,314.0,22712.0,2022
63,Total Matriculants,NaN,36.0,5901.0,1845.0,1493.0,19.0,9534.0,483.0,2726.0,657.0,287.0,22981.0,2023

In [27]:
a11_gb = a11.groupby(["year", "APSA_region"]).sum()
a11_gb = a11_gb.reset_index()
a11_gb["URM"] = a11_gb["American Indian or Alaska Native"] + a11_gb["Black or African American"] + a11_gb["Hispanic, Latino, or of Spanish Origin"] + a11_gb["Native Hawaiian or Other Pacific Islander"]
a11_gb["Percent_URM"] = a11_gb["URM"] / a11_gb["Total"]
a11_gb[a11_gb["APSA_region"] == "South"]

,year,APSA_region,American Indian or Alaska Native,Asian,Black or African American,"Hispanic, Latino, or of Spanish Origin",Native Hawaiian or Other Pacific Islander,White,Other,Multiple Race/Ethnicity,Unknown Race/Ethnicity,Non-U.S. Citizen and Non-Permanent Resident,Total,URM,Percent_URM
3,2014,South,25.0,942.0,521.0,666.0,4.0,3067.0,113.0,497.0,245.0,21.0,6101.0,1216.0,0.199312
8,2015,South,25.0,1044.0,598.0,715.0,2.0,2941.0,115.0,499.0,240.0,37.0,6216.0,1340.0,0.215573
13,2016,South,21.0,1147.0,602.0,723.0,1.0,3068.0,62.0,626.0,89.0,23.0,6362.0,1347.0,0.211726
18,2017,South,27.0,1127.0,606.0,745.0,3.0,3077.0,73.0,638.0,184.0,23.0,6503.0,1381.0,0.212364
23,2018,South,18.0,1253.0,657.0,744.0,5.0,3156.0,78.0,709.0,99.0,28.0,6747.0,1424.0,0.211057
28,2019,South,16.0,1244.0,659.0,770.0,1.0,2979.0,80.0,759.0,240.0,25.0,6773.0,1446.0,0.213495
33,2020,South,18.0,1291.0,720.0,782.0,3.0,2940.0,85.0,828.0,260.0,26.0,6953.0,1523.0,0.219042
38,2021,South,15.0,1424.0,882.0,811.0,5.0,2886.0,84.0,868.0,205.0,36.0,7216.0,1713.0,0.237389
43,2022,South,18.0,1483.0,779.0,783.0,3.0,2863.0,96.0,985.0,171.0,52.0,7233.0,1583.0,0.218858
48,2023,South,11.0,1560.0,747.0,802.0,2.0,2962.0,99.0,1015.0,189.0,37.0,7424.0,1562.0,0.210399

In [30]:
# Exporting to excel
#a11.to_excel(cwd + "/merged files/AAMC A-11 Merged.xlsx", index=False)
#a11_totals.to_excel(cwd + "/merged files/AAMC A-11 Totals Merged.xlsx", index=False)

## Table B-8 for MD/PhD Applicants & Matriculants

In [8]:
# AAMC A-1 tables file paths for all excel files
file_list_b8 = glob.glob(cwd + "/B-8/*.xlsx")

# Column names for every excel file
colnames1 = ["state", "school", "applications", "in state applicants", "out of state applicants",
             "women applicants", "men applicants", "matriculants", "in state matriculants",
              "out of state matriculants", "women matriculants", "men matriculants"]
colnames2 = ["state", "school", "applications", "in state applicants", "out of state applicants", 
             "men applicants", "women applicants", "matriculants", "in state matriculants", 
             "out of state matriculants", "men matriculants", "women matriculants"]  # column names men/women change in 2018

# Processing all AAMC B-8 Tables
b8_2012, totals_b_2012 = merger_functions.cycle_generator(df_path=file_list_b8[0], head=10, foot=148, colnames=colnames1, year=2012)
b8_2013, totals_b_2013 = merger_functions.cycle_generator(df_path=file_list_b8[1], head=10, foot=152, colnames=colnames1, year=2013)
b8_2014, totals_b_2014 = merger_functions.cycle_generator(df_path=file_list_b8[2], head=10, foot=152, colnames=colnames1, year=2014)
b8_2015, totals_b_2015 = merger_functions.cycle_generator(df_path=file_list_b8[3], head=9, foot=152, colnames=colnames1, year=2015)
b8_2016, totals_b_2016 = merger_functions.cycle_generator(df_path=file_list_b8[4], head=9, foot=155, colnames=colnames1, year=2016)
b8_2017, totals_b_2017 = merger_functions.cycle_generator(df_path=file_list_b8[5], head=9, foot=157, colnames=colnames1, year=2017)
b8_2018, totals_b_2018 = merger_functions.cycle_generator(df_path=file_list_b8[6], head=9, foot=161, colnames=colnames2, year=2018)
b8_2019, totals_b_2019 = merger_functions.cycle_generator(df_path=file_list_b8[7], head=9, foot=163, colnames=colnames2, year=2019)
b8_2020, totals_b_2020 = merger_functions.cycle_generator(df_path=file_list_b8[8], head=9, foot=165, colnames=colnames2, year=2020)
b8_2021, totals_b_2021 = merger_functions.cycle_generator(df_path=file_list_b8[9], head=9, foot=165, colnames=colnames2, year=2021)
b8_2022, totals_b_2022 = merger_functions.cycle_generator(df_path=file_list_b8[10], head=9, foot=165, colnames=colnames2, year=2022)
b8_2023, totals_b_2023 = merger_functions.cycle_generator(df_path=file_list_b8[11], head=9, foot=167, colnames=colnames2, year=2023)


# Concatenating the totals per year and cleaning
b8_totals = pd.concat([totals_b_2012, totals_b_2013, totals_b_2014, totals_b_2015, totals_b_2016, totals_b_2017, totals_b_2018, totals_b_2019, totals_b_2020, totals_b_2021, totals_b_2022, totals_b_2023], axis=0)
b8_totals = b8_totals.drop(["state", "school"], axis=1).reset_index(drop=True)
b8_totals["applicants"] = [1853, 1937, 1891, 1887, 1936, 1858, 1855, 1813, 1855, 2091, 1793, 1795]
b8_totals["applications"] = [22800, 23919, 23488, 24810, 26232, 24664, 25794, 26529, 28327, 32888, 30864, 30402]
b8_totals["matriculants"] = [635, 609, 626, 626, 649, 646, 672, 708, 701, 750, 709, 707]
b8_totals["applications per applicant"] = b8_totals["applications"] / b8_totals["applicants"]
b8_totals["matriculant applicant percent"] = (b8_totals["matriculants"] / b8_totals["applicants"]) * 100

# Rearranging columns for readability
b8_totals = b8_totals[["cycle_year", "applicants", "applications", "in state applicants", "out of state applicants",
                  "women applicants", "men applicants", "matriculants", "in state matriculants",
                  "out of state matriculants", "women matriculants", "men matriculants",
                  "applications per applicant", "matriculant applicant percent"]]

# Concatenating the B8 school data for each year
b8 = pd.concat([b8_2012, b8_2013, b8_2014, b8_2015, b8_2016, b8_2017, b8_2018, b8_2019, b8_2020, b8_2021, b8_2022, b8_2023], axis=0)
b8 = b8.reset_index(drop=True)

# Getting rid of numbers in the school names and replacing redundant names for med schools that changed their names over time
schools = []
for school in b8["school"]:
    new_school = ''.join([i for i in school if not i.isdigit()])
    schools.append(new_school)
b8["school"] = schools
school_name_replacements = {"Alabama-Heersink": "Alabama",
                            "Kaiser Permanente-Tyson": "Kaiser Permanente",
                            "Central Florida": "UCF",
                            "GRU MC Georgia": "MC Georgia Augusta",
                            "MC Georgia": "MC Georgia Augusta",
                            "Chicago Med-Franklin": "Chicago Med Franklin",
                            "Massachusetts-Chan": "Massachusetts",
                            "Mayo-Alix": "Mayo",
                            "St Louis": "Saint Louis",
                            "UMDNJ New Jersey": "Rutgers New Jersey",
                            "UMDNJ-RW Johnson": "Rutgers-RW Johnson",
                            "SHU-Hackensack Meridian": "Hackensack Meridian",
                            "Nevada": "Nevada Reno",
                            "Columbia": "Columbia-Vagelos",
                            "Yeshiva Einstein": "Einstein",
                            "Hofstra North Shore-LIJ": "Zucker Hofstra Northwell",
                            "Hofstra Northwell": "Zucker Hofstra Northwell",
                            "Stony Brook": "Renaissance Stony Brook",
                            "Mount Sinai": "Mount Sinai-Icahn",
                            "New York University": "NYU-Grossman",
                            "Buffalo": "Buffalo-Jacobs",
                            "Case Western": "Case Western Reserve",
                            "Jefferson": "Jefferson-Kimmel",
                            "Commonwealth": "Geisinger Commonwealth",
                            "Temple": "Temple-Katz",
                            "South Carolina": "South Carolina Columbia",
                            "UT HSC San Antonio": "UT San Antonio-Long",
                            "UT Houston": "UT Houston-McGovern",
                            "Vermont": "Vermont-Larner",
                            "UCLA Drew": "UCLA-Geffen", }
b8["school"] = b8["school"].replace(school_name_replacements)

# Mapping states to APSA regional meetings
apsa_state_mapping = {
  "AL": "South",
  "AR": "South",
  "AZ": "West",
  "CA": "West",
  "CO": "West",
  "CT": "Northeast",
  "DC": "Mid-Atlantic",
  "FL": "South",
  "GA": "South",
  "HI": "West",
  "IA": "Midwest",
  "IL": "Midwest",
  "IN": "Midwest",
  "KS": "Midwest",
  "KY": "South",
  "LA": "South",
  "MA": "Northeast",
  "MD": "Mid-Atlantic",
  "MI": "Midwest",
  "MN": "Midwest",
  "MO": "Midwest",
  "MS": "South",
  "NC": "South",
  "ND": "Midwest",
  "NE": "Midwest",
  "NH": "Northeast",
  "NJ": "Mid-Atlantic",
  "NM": "West",
  "NV": "West",
  "NY": "Northeast",
  "OH": "Midwest",
  "OK": "South",
  "OR": "West",
  "PA": "Mid-Atlantic",
  "PR": "South",
  "RI": "Northeast",
  "SC": "South",
  "SD": "Midwest",
  "TN": "South",
  "TX": "South",
  "UT": "West",
  "VA": "Mid-Atlantic",
  "VT": "Northeast",
  "WA": "West",
  "WI": "Midwest",
  "WV": "Mid-Atlantic"
}
b8["APSA_region"] = b8["state"].map(apsa_state_mapping)

# Rearranging columns for readability
b8 = b8[["cycle_year", "state", "APSA_region", "school", "applications", "in state applicants", "out of state applicants", "women applicants", "men applicants", "matriculants", "in state matriculants", "out of state matriculants", "women matriculants", "men matriculants"]]

b8

,cycle_year,state,APSA_region,school,applications,in state applicants,out of state applicants,women applicants,men applicants,matriculants,in state matriculants,out of state matriculants,women matriculants,men matriculants
0,2012,AL,South,Alabama,280.0,2.9,97.1,35.7,64.3,8.0,12.5,87.5,37.5,62.5
1,2012,AL,South,South Alabama,10.0,30.0,70.0,40.0,60.0,0.0,0.0,0.0,0.0,0.0
2,2012,AR,South,Arkansas,28.0,17.9,82.1,39.3,60.7,2.0,50.0,50.0,0.0,100.0
3,2012,AZ,West,Arizona,83.0,16.9,83.1,37.3,62.7,2.0,100.0,0.0,50.0,50.0
4,2012,CA,West,Loma Linda,67.0,46.3,53.7,47.8,52.2,3.0,66.7,33.3,0.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1774,2023,WA,West,Washington State-Floyd,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1775,2023,WI,Midwest,MC Wisconsin,220.0,5.5,94.5,45.9,53.6,10.0,0.0,100.0,40.0,60.0
1776,2023,WI,Midwest,Wisconsin,382.0,3.7,96.3,45.0,53.7,4.0,0.0,100.0,25.0,75.0
1777,2023,WV,Mid-Atlantic,Marshall-Edwards,37.0,2.7,97.3,56.8,43.2,1.0,0.0,100.0,0.0,100.0
1778,2023,WV,Mid-Atlantic,West Virginia,72.0,2.8,97.2,43.1,56.9,3.0,0.0,100.0,33.3,66.7

In [9]:
b8_totals

,cycle_year,applicants,applications,in state applicants,out of state applicants,women applicants,men applicants,matriculants,in state matriculants,out of state matriculants,women matriculants,men matriculants,applications per applicant,matriculant applicant percent
0,2012,1853,22800,15.7,84.3,37.3,62.7,635,29.3,70.7,36.9,63.1,12.304371,34.268753
1,2013,1937,23919,16.8,83.2,35.6,64.4,609,28.9,71.1,36.5,63.5,12.348477,31.440372
2,2014,1891,23488,15.6,84.4,36.8,63.2,626,28.1,71.9,39.0,61.0,12.420941,33.104178
3,2015,1887,24810,15.0,85.0,36.2,63.7,626,27.3,72.7,39.1,60.9,13.147854,33.174351
4,2016,1936,26232,15.2,84.8,41.4,58.3,649,27.1,72.9,43.1,56.9,13.549587,33.522727
5,2017,1858,24664,15.0,85.0,43.5,56.4,646,27.7,72.3,44.1,55.7,13.274489,34.768568
6,2018,1855,25794,14.9,85.1,44.6,55.2,672,29.0,71.0,46.4,53.6,13.905121,36.226415
7,2019,1813,26529,13.9,86.1,47.6,52.3,708,26.1,73.9,50.0,49.9,14.632653,39.051296
8,2020,1855,28327,14.1,85.9,48.7,51.3,701,23.0,77.0,51.4,48.6,15.270620,37.789757
9,2021,2091,32888,13.8,86.2,47.4,52.4,750,25.5,74.5,50.1,49.7,15.728360,35.868006
10,2022,1793,30864,13.1,86.9,47.9,52.0,709,24.3,75.7,51.2,48.8,17.213608,39.542666
11,2023,1795,30402,13.1,86.9,48.0,50.9,707,27.9,72.1,50.2,48.7,16.937047,39.387187

In [49]:
# Exporting to excel 
#b8.to_excel(cwd + "/merged files/AAMC B-8 Merged.xlsx", index=False)
#b8_totals.to_excel(cwd + "/merged files/AAMC B-8 Totals Merged.xlsx", index=False)

## Table B-7 for MD/PhD Applicants

In [10]:
# Getting all B-7 files
file_list_b7 = glob.glob(cwd + "/B-7/*.xlsx")

# Importing all excel docs in a loop
df_dict = {}
df_totals_dict = {}
for f in file_list_b7:
  matches = re.findall(r"(?<!\d)\d{4}(?!\d)", f)
  current_year = int(matches[-1])
  df, df_totals = merger_functions.demo_generator(df_path = f, head = 5, foot = 64, year = current_year)
  df_dict.update({current_year: df})
  df_totals_dict.update({current_year: df_totals})
  print("Done with {}".format(current_year))

# Merging into a single file
b7 = pd.concat(df_dict.values(), keys=df_dict.keys())
b7 = b7.reset_index(level=0, drop=True)
b7_totals = pd.concat(df_totals_dict.values(), keys=df_totals_dict.keys())
b7_totals = b7_totals.reset_index(level=0, drop=True)

Done with 2014
Done with 2015
Done with 2016
Done with 2017
Done with 2018
Done with 2019
Done with 2020
Done with 2021
Done with 2022
Done with 2023

In [11]:
b7

,region,state,American Indian or Alaska Native,Asian,Black or African American,"Hispanic, Latino, or of Spanish Origin",Native Hawaiian or Other Pacific Islander,White,Other,Multiple Race/Ethnicity,Unknown Race/Ethnicity,Non-U.S. Citizen and Non-Permanent Resident,Total,year,APSA_region
0,Northeast,Connecticut,0.0,3.0,3.0,0.0,0.0,13.0,0.0,1.0,4.0,1.0,25.0,2014,Northeast
1,Northeast,Delaware,0.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,6.0,2014,Mid-Atlantic
2,Northeast,District of Columbia,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,5.0,2014,Mid-Atlantic
3,Northeast,Maine,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,1.0,0.0,6.0,2014,Northeast
4,Northeast,Maryland,1.0,21.0,15.0,0.0,0.0,26.0,0.0,3.0,11.0,3.0,80.0,2014,Mid-Atlantic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53,West,New Mexico,0.0,0.0,0.0,1.0,0.0,2.0,0.0,1.0,0.0,0.0,4.0,2023,West
54,West,Oregon,0.0,3.0,0.0,0.0,0.0,6.0,1.0,7.0,2.0,0.0,19.0,2023,West
55,West,Utah,0.0,1.0,0.0,1.0,0.0,14.0,0.0,2.0,0.0,0.0,18.0,2023,West
56,West,Washington,0.0,12.0,4.0,0.0,0.0,13.0,0.0,5.0,0.0,1.0,35.0,2023,West
57,West,Wyoming,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,West

In [13]:
b7_gb = b7.groupby(["year", "APSA_region"]).sum()
b7_gb = b7_gb.reset_index()
b7_gb["URM"] = b7_gb["American Indian or Alaska Native"] + b7_gb["Black or African American"] + b7_gb["Hispanic, Latino, or of Spanish Origin"] + b7_gb["Native Hawaiian or Other Pacific Islander"]
b7_gb["Percent_URM"] = b7_gb["URM"] / b7_gb["Total"]
b7_gb[b7_gb["APSA_region"] == "South"]

,year,APSA_region,American Indian or Alaska Native,Asian,Black or African American,"Hispanic, Latino, or of Spanish Origin",Native Hawaiian or Other Pacific Islander,White,Other,Multiple Race/Ethnicity,Unknown Race/Ethnicity,Non-U.S. Citizen and Non-Permanent Resident,Total,URM,Percent_URM
3,2014,South,1.0,63.0,52.0,48.0,0.0,206.0,9.0,42.0,20.0,8.0,449.0,101.0,0.224944
8,2015,South,0.0,55.0,61.0,41.0,0.0,201.0,10.0,43.0,20.0,13.0,444.0,102.0,0.229730
13,2016,South,1.0,90.0,50.0,42.0,0.0,192.0,10.0,61.0,8.0,16.0,470.0,93.0,0.197872
18,2017,South,3.0,61.0,54.0,45.0,0.0,215.0,9.0,45.0,8.0,12.0,452.0,102.0,0.225664
23,2018,South,3.0,77.0,53.0,47.0,2.0,214.0,3.0,54.0,6.0,16.0,475.0,105.0,0.221053
28,2019,South,0.0,78.0,50.0,39.0,0.0,174.0,7.0,54.0,26.0,20.0,448.0,89.0,0.198661
33,2020,South,0.0,81.0,41.0,44.0,0.0,169.0,11.0,55.0,26.0,14.0,441.0,85.0,0.192744
38,2021,South,2.0,98.0,67.0,46.0,0.0,189.0,9.0,57.0,20.0,24.0,512.0,115.0,0.224609
43,2022,South,4.0,82.0,43.0,47.0,0.0,139.0,8.0,56.0,13.0,13.0,405.0,94.0,0.232099
48,2023,South,0.0,94.0,65.0,43.0,0.0,141.0,6.0,57.0,17.0,13.0,436.0,108.0,0.247706

In [14]:
b7_totals

index,region,state,American Indian or Alaska Native,Asian,Black or African American,"Hispanic, Latino, or of Spanish Origin",Native Hawaiian or Other Pacific Islander,White,Other,Multiple Race/Ethnicity,Unknown Race/Ethnicity,Non-U.S. Citizen and Non-Permanent Resident,Total,year
63,All M.D.-Ph.D. Applicants,NaN,4.0,355.0,117.0,81.0,2.0,858.0,48.0,121.0,160.0,145.0,1891.0,2014
63,Total M.D.-Ph.D. Applicants,NaN,3.0,374.0,134.0,93.0,1.0,845.0,59.0,138.0,117.0,123.0,1887.0,2015
63,Total M.D.-Ph.D. Applicants,NaN,3.0,435.0,111.0,103.0,0.0,860.0,42.0,204.0,47.0,131.0,1936.0,2016
63,Total MD-PhD Applicants,NaN,3.0,348.0,123.0,98.0,1.0,865.0,34.0,183.0,81.0,122.0,1858.0,2017
63,Total MD-PhD Applicants,NaN,9.0,396.0,131.0,101.0,3.0,830.0,32.0,184.0,44.0,125.0,1855.0,2018
63,Total MD-PhD Applicants,NaN,0.0,367.0,124.0,80.0,0.0,767.0,39.0,189.0,122.0,125.0,1813.0,2019
63,Total MD-PhD Applicants,NaN,0.0,394.0,119.0,93.0,0.0,734.0,34.0,201.0,125.0,125.0,1825.0,2020
63,Total MD-PhD Applicants,NaN,6.0,439.0,174.0,111.0,1.0,827.0,40.0,210.0,111.0,172.0,2091.0,2021
63,Total MD-PhD Applicants,NaN,8.0,429.0,121.0,98.0,1.0,671.0,39.0,217.0,91.0,118.0,1793.0,2022
63,Total MD-PhD Applicants,NaN,3.0,451.0,155.0,87.0,NaN,647.0,40.0,200.0,82.0,130.0,1795.0,2023

In [21]:
# Exporting to excel
#b7.to_excel(cwd + "/merged files/AAMC B-7 Merged.xlsx", index=False)
#b7_totals.to_excel(cwd + "/merged files/AAMC B-7 Totals Merged.xlsx", index=False)

## Table B-9 for MD/PhD Matriculants

In [15]:
# Getting all B-9 files
file_list_b9 = glob.glob(cwd + "/B-9/*.xlsx")

# Importing all excel docs in a loop
df_dict = {}
df_totals_dict = {}
for f in file_list_b9:
  matches = re.findall(r"(?<!\d)\d{4}(?!\d)", f)
  current_year = int(matches[-1])
  df, df_totals = merger_functions.demo_generator(df_path = f, head = 5, foot = 64, year = current_year)
  df_dict.update({current_year: df})
  df_totals_dict.update({current_year: df_totals})
  print("Done with {}".format(current_year))

# Merging into a single file
b9 = pd.concat(df_dict.values(), keys=df_dict.keys())
b9 = b9.reset_index(level=0, drop=True)
b9_totals = pd.concat(df_totals_dict.values(), keys=df_totals_dict.keys())
b9_totals = b9_totals.reset_index(level=0, drop=True)

Done with 2014
Done with 2015
Done with 2016
Done with 2017
Done with 2018
Done with 2019
Done with 2020
Done with 2021
Done with 2022
Done with 2023

In [16]:
b9

,region,state,American Indian or Alaska Native,Asian,Black or African American,"Hispanic, Latino, or of Spanish Origin",Native Hawaiian or Other Pacific Islander,White,Other,Multiple Race/Ethnicity,Unknown Race/Ethnicity,Non-U.S. Citizen and Non-Permanent Resident,Total,year,APSA_region
0,Northeast,Connecticut,0.0,2.0,0.0,0.0,0.0,3.0,0.0,0.0,2.0,0.0,7.0,2014,Northeast
1,Northeast,Delaware,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,2014,Mid-Atlantic
2,Northeast,District of Columbia,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2014,Mid-Atlantic
3,Northeast,Maine,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0,2014,Northeast
4,Northeast,Maryland,1.0,9.0,8.0,0.0,0.0,17.0,0.0,3.0,7.0,0.0,45.0,2014,Mid-Atlantic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53,West,New Mexico,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,2023,West
54,West,Oregon,0.0,0.0,0.0,0.0,0.0,3.0,0.0,1.0,0.0,0.0,4.0,2023,West
55,West,Utah,0.0,1.0,0.0,0.0,0.0,6.0,0.0,1.0,0.0,0.0,8.0,2023,West
56,West,Washington,0.0,4.0,1.0,0.0,0.0,9.0,0.0,2.0,0.0,0.0,16.0,2023,West
57,West,Wyoming,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,West

In [17]:
b9_totals

index,region,state,American Indian or Alaska Native,Asian,Black or African American,"Hispanic, Latino, or of Spanish Origin",Native Hawaiian or Other Pacific Islander,White,Other,Multiple Race/Ethnicity,Unknown Race/Ethnicity,Non-U.S. Citizen and Non-Permanent Resident,Total,year
63,Total M.D.-Ph.D. Matriculants,NaN,1.0,137.0,26.0,33.0,1.0,308.0,11.0,37.0,58.0,14.0,626.0,2014
63,Total M.D.-Ph.D. Matriculants,NaN,2.0,143.0,26.0,28.0,1.0,298.0,18.0,47.0,47.0,16.0,626.0,2015
63,Total M.D.-Ph.D. Matriculants,NaN,0.0,163.0,31.0,39.0,0.0,303.0,11.0,65.0,10.0,27.0,649.0,2016
63,Total MD-PhD Matriculants,NaN,2.0,137.0,32.0,32.0,0.0,328.0,13.0,64.0,27.0,11.0,646.0,2017
63,Total MD-PhD Matriculants,NaN,4.0,161.0,33.0,32.0,1.0,345.0,11.0,60.0,12.0,13.0,672.0,2018
63,Total MD-PhD Matriculants,NaN,0.0,166.0,41.0,33.0,0.0,323.0,11.0,68.0,41.0,25.0,708.0,2019
63,Total MD-PhD Matriculants,NaN,0.0,162.0,45.0,40.0,0.0,287.0,15.0,87.0,43.0,22.0,701.0,2020
63,Total MD-PhD Matriculants,NaN,2.0,188.0,60.0,32.0,0.0,325.0,11.0,71.0,34.0,27.0,750.0,2021
63,Total MD-PhD Matriculants,NaN,4.0,209.0,40.0,36.0,1.0,275.0,9.0,83.0,31.0,21.0,709.0,2022
63,Total MD-PhD Applicants,NaN,2.0,193.0,55.0,34.0,0.0,293.0,14.0,74.0,27.0,15.0,707.0,2023

In [22]:
b9_gb = b9.groupby(["year", "APSA_region"]).sum()
b9_gb = b9_gb.reset_index()
b9_gb["URM"] = b9_gb["American Indian or Alaska Native"] + b9_gb["Black or African American"] + b9_gb["Hispanic, Latino, or of Spanish Origin"] + b9_gb["Native Hawaiian or Other Pacific Islander"]
b9_gb["Percent_URM"] = b9_gb["URM"] / b9_gb["Total"]
b9_gb[b9_gb["APSA_region"] == "South"]

,year,APSA_region,American Indian or Alaska Native,Asian,Black or African American,"Hispanic, Latino, or of Spanish Origin",Native Hawaiian or Other Pacific Islander,White,Other,Multiple Race/Ethnicity,Unknown Race/Ethnicity,Non-U.S. Citizen and Non-Permanent Resident,Total,URM,Percent_URM
3,2014,South,0.0,26.0,7.0,16.0,0.0,61.0,2.0,8.0,3.0,0.0,123.0,23.0,0.186992
8,2015,South,0.0,12.0,11.0,16.0,0.0,62.0,2.0,16.0,5.0,1.0,125.0,27.0,0.216000
13,2016,South,0.0,31.0,10.0,13.0,0.0,50.0,2.0,15.0,1.0,1.0,123.0,23.0,0.186992
18,2017,South,2.0,16.0,13.0,12.0,0.0,60.0,2.0,9.0,2.0,0.0,116.0,27.0,0.232759
23,2018,South,1.0,26.0,8.0,16.0,1.0,78.0,0.0,15.0,1.0,1.0,147.0,26.0,0.176871
28,2019,South,0.0,35.0,11.0,18.0,0.0,59.0,3.0,16.0,6.0,2.0,150.0,29.0,0.193333
33,2020,South,0.0,30.0,15.0,14.0,0.0,52.0,3.0,23.0,10.0,2.0,149.0,29.0,0.194631
38,2021,South,2.0,38.0,21.0,9.0,0.0,54.0,1.0,19.0,5.0,3.0,152.0,32.0,0.210526
43,2022,South,3.0,31.0,12.0,13.0,0.0,40.0,1.0,16.0,1.0,4.0,121.0,28.0,0.231405
48,2023,South,0.0,34.0,16.0,15.0,0.0,47.0,2.0,17.0,9.0,1.0,141.0,31.0,0.219858

In [23]:
# Exporting to excel
#b9.to_excel(cwd + "/merged files/AAMC B-9 Merged.xlsx", index=False)
#b9_totals.to_excel(cwd + "/merged files/AAMC B-9 Totals Merged.xlsx", index=False)